<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div align="CENTER">
    <h1>nasdq 财报数据</h1>

    <!--/*@thymesVar id="time" type="String"*/-->
    财报日期<h2 th:text="${time}">财报日期</h2>
    <button id="btn">是否显示预测报告</button>

    <!--/*@thymesVar id="list" type="java.util.List"*/-->
    <h3  th:text="|总数:${list.size()}|"></h3>
    <h3 th:text="|盘前:${timeMap.before}|"></h3>
    <h3 th:text="|盘后:${timeMap.after}|">:</h3>
    <h3 th:text="|未知:${timeMap.unknown}|"></h3>

</div>

<table style="width:700px;border-collapse:collapse;" align="CENTER" width="537PX" bgcolor="#FFFFFF"
       bordercolor="#000000" border="1">
    <tr>
        <td width="55" valign="center" style="width:56px;padding:0px 7px;"><p><span
                style="font-size:14px">时间</span><span
                style="font-size:14px"></span></p></td>
        <td width="277" valign="center" style="width:278px;padding:0px 7px;"><p><span
                style="font-size:14px">公司名称</span><span style="font-size:14px"></span></p></td>
        <td width="52" valign="center" style="width:53px;padding:0px 7px;"><p><span
                style="font-size:14px">代码</span><span
                style="font-size:14px"></span></p></td>
        <td width="80" valign="center" style="width:81px;padding:0px 7px;"><p><span
                style="font-size:14px">市值</span><span
                style="font-size:14px"></span></p></td>
        <td width="69" valign="center" style="width:100px;padding:0px 7px;"><p><span
                style="font-size:14px">预期EPS</span><span style="font-size:14px"></span></p></td>
        <td width="69" valign="center" style="width:100px;padding:0px 7px;"><p><span
                style="font-size:14px">财季截止</span><span style="font-size:14px"></span></p></td>
        <td width="69" valign="center" style="width:110px;padding:0px 7px;"><p><span
                style="font-size:14px">去年同期EPS</span><span style="font-size:14px"></span></p></td>
        <td name="report"  width="200" valign="center" style="width:110px;padding:0px 7px;"><p><span
                style="font-size:14px">预测报告</span><span style="font-size:14px"></span></p></td>
    </tr>
    <!--/*@thymesVar id="list" type="List<NasdaqEarningListResponse>"*/-->
    <!--/*@thymesVar id="data" type="com.lol.sion.core.pojo.response.NasdaqEarningListResponse"*/-->
    <tr th:each="data,stat:${list}">
        <td th:text="${data.publishTime}"></td>
        <td th:text="${data.tickerSymbolCn}"></td>
        <td th:text="${data.code}"></td>
        <td th:text="${data.capitalAmount}"></td>
        <td th:text="${data.perShareEarningsExpect}"></td>
        <td th:text="${data.deadlineDate}"></td>
        <td th:text="${data.lastYearPerShareEarnings}"></td>
        <td name="report" th:text="${data.reportStr}"></td>
    </tr>
</table>

</body>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script>
    $("#btn").click(function () {
       $("td[name='report']").slideToggle();
    });
</script>
</html>